<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模仿猎聘</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
    <div class="topImg-wrap">
        <span class="rman animation-running"></span>
        <span class="bag1 animation-updown"></span>
        <span class="game animation-shakeA"></span>
        <span class="sman animation-wave"></span>
        <span class="circle1 animation-wholeRotate"></span>
        <span class="resumeWrap">
            <span class="resumeTop"></span>
            <span class="resume animation-fadeUp"></span>
            <span class="resumeBottom"></span>
        </span>
        <span class="wifi wifi1 animation-opacityA"></span>
        <span class="wifi wifi2 animation-opacityB"></span>
        <span class="wifi wifi3 animation-opacityC"></span>
        <span class="sun animation-wholeRotateA"></span>
        <span class="wowo animation-smailRotate"></span>
        <span class="phone animation-bouncein"></span>
    </div>

</body>
</html>